---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="NovaTech Accueil">
  <main>
    <section
      class="hero grid grid-cols-4 place-items-center h-[calc(100vh-5vh)] relative"
    >
      <!-- <img
        class="absolute -top-[1vh] h-fit -z-50"
        src="/header-bg.png"
        alt="header-bg"
      /> -->
      <div class="hero__content order-2">
        <p class="hero__text uppercase">
          NovaTech: votre partenaire de santé connectée
        </p>
        <h1 class="hero__title uppercase">TRANSFORMEZ VOTRE SANTÉ.</h1>
      </div>
      <div></div>
      <div></div>
    </section>
    <section class="flex flex-col items-center justify-center">
      <h1 class="text-[#2A4C45]">Bienvenue chez NovaTech</h1>
      <p class="text-[#7A7A7A]">
        Chez NovaTech, nous croyons que la technologie peut améliorer
        significativement la santé et le bien-être de chacun. C'est pourquoi
        nous avons développé une gamme de produits et services connectés conçus
        pour aider les gens à suivre leur santé, à atteindre leurs objectifs de
        fitness et à vivre de manière plus active.
      </p>
      <div>
        <img src="/image-produits.png" alt="image-produits" />
      </div>
    </section>
    <section class="bg-[#1F1F1F] text-white">
      <div>
        <h1 class="">
          Notre équipe passionnée et <br /><span class="text-[#1F1F1F] bg-white"
            >Talentieuse</span
          >
        </h1>
        <p>
          Nous sommes fiers de travailler avec une équipe dynamique et
          diversifiée, qui apporte une richesse de connaissances et
          d'expériences à notre entreprise. Découvrez ci-dessous quelques-uns de
          nos membres clés et ce qui les motive à faire partie de notre équipe.
        </p>
      </div>
      <div>
        <!-- mettre la team -->
      </div>
    </section>
    <section class="bg-[#2A4C45] text-white">
      <p>Découvrez notre gamme complète de produits adaptés à vos besoins</p>
      <p>Nos produits de qualité pour tous les besoins</p>
      <div>
        <div>
          <img src="/icon-bad.png" alt="icon-bad" />
          <div>
            <p>
              La brosse à dents connectée qui transforme votre routine de
              brossage
            </p>
            <p>
              Notre brosse à dents connectée est conçue pour améliorer votre
              routine de brossage grâce à des fonctionnalités innovantes et à
              une technologie de pointe. Avec notre application mobile dédiée,
              vous pouvez suivre votre brossage en temps réel, recevoir des
              conseils de brossage personnalisés.
            </p>
          </div>
        </div>
        <div>
          <img src="/icon-bal.png" alt="icon-bal" />
          <div>
            <p>
              La balance connectée qui vous accompagne dans votre parcours de
              santé
            </p>
            <p>
              Notre balance connectée est conçue pour vous accompagner dans
              votre parcours de santé en vous offrant des données précises et en
              temps réel sur votre poids, votre masse graisseuse, votre taux de
              muscle et bien d'autres indicateurs de santé. Grâce à notre
              application mobile dédiée, vous pouvez suivre votre évolution et
              atteindre vos objectifs de santé en toute simplicité.
            </p>
          </div>
        </div>
        <div>
          <img src="/icon-mon.png" alt="icon-mon" />
          <div>
            <p>La montre connectée qui vous accompagne au quotidien</p>
            <p>
              Notre montre connectée est conçue pour vous accompagner au
              quotidien en vous offrant un accès facile à vos notifications, à
              votre musique, à votre GPS et à bien d'autres fonctionnalités
              utiles. Grâce à notre application mobile dédiée, vous pouvez
              personnaliser votre montre selon vos besoins et vos préférences,
              et accéder à de nombreuses autres fonctionnalités comme la suivi
              de l'activité physique, le suivi du sommeil, et bien d'autres
              encore.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="flex flex-row items-center justify-center">
        <div class="flex flex-col items-center justify-center">
          <img src="/illu-bad.png" alt="img-bad" />
          <p>BROSSE À DENTS CONNECTÉ</p>
          <button>Découvrir</button>
        </div>
        <div class="flex flex-col items-center justify-center">
          <img src="/illu-bal.png" alt="img-bal" />
          <p>BALANCE CONNECTÉ</p>
          <button>Découvrir</button>
        </div>
        <div class="flex flex-col items-center justify-center">
          <img src="/illu-mon.png" alt="img-mon" />
          <p>MONTRE CONNECTÉ</p>
          <button>Découvrir</button>
        </div>
      </div>
    </section>
    <section>
      <h1 class="">Dernières Nouvelles</h1>
      <div class="flex flex-row items-center justify-center">
        <div class="flex flex-col items-center justify-center">
          <h1>Notre gamme de produits</h1>
          <p>Nos produits de qualité pour tous les besoins</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1>Notre gamme de produits</h1>
          <p>Nos produits de qualité pour tous les besoins</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1>Notre gamme de produits</h1>
          <p>Nos produits de qualité pour tous les besoins</p>
        </div>
      </div>
    </section>
  </main>
</Layout>
